@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


.logo__img {
  padding-top: 13px;
  padding-bottom: 13px;
}

.nav {
  background: #322e41;
}

.nav__content {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
}

.menu__link {
  transition: 0.5s;
  padding-bottom: 21px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 23px;
  border-bottom: 2px solid #322e41;
} 


.menu__link:hover {
  color: #ffe600;
  border-bottom: 2px solid #fff;

.header__content {
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  font-family: 'Roboto';
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 15px;
}

.header__wrapper {
  font-size: 18px;
  font-weight: 400;
}

.header__wrapper span {
  text-transform: uppercase;
  font-weight: 700;
}

.title {
font-family: 'Roboto';
font-weight: 700;
font-size: 24px;
line-height: 75%;
text-transform: uppercase;
color: #2e2e3c;
padding: 10px;
border: 1px solid #000;
border-radius: 4px;

}